
<div class="input-group" style="width: inherit;">
    <input type="text" class="form-control js-edit-value" value="<%= editValue %>">
    <div class="input-group-btn">
        <button class="btn btn-default js-save btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
        <button class="btn btn-default js-cancel btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </div>
</div>