<tr>
    <th scope="row">#</th>
    <td class="js-id"><%= id %></td>
    <td class="js-source"><%= source %></td>
    <td class="js-medium"><%= medium %></td>
    <td class="js-channel"><%= channel %> </td>
    <td><%= direction %></td>
    <td><%= modifiedDate %></td>
    <td><%= modifiedBy %></td>
    <td><%= createdDate %></td>
    <td><%= createdBy %></td>
</tr>